# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de ambiente de ejecución
.npm
.yarn

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
.vscode/
.idea/
*.swp
*.swo